---
layout: null
title: Vince Law - Consulting, Training, Coaching, Writing
mob-nav: mdl-layout__header--transparent
---


<!DOCTYPE html>
<html>
	<head>
	
		<meta charset="UTF-8">
		<title>Vince Law - Consulting, Training, Coaching, Writing</title>
		<meta name="description" content="Free Web tutorials">
		<meta name="keywords" content="product, management, consulting, coach, mentor, vince, law, learn, education">
		<meta name="author" content="Vince Law">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<link rel="shortcut icon" href="img/favicon.png" type="image/x-icon; charset=binary">
		
		<!--jQuery-->
		<script type="text/javascript" src="js/jquery.3.1.1.min.js" ></script>
		
		<!--MDL-->
		<link rel="stylesheet" href="css/material.1.3.0.indigo-light_blue.min.css" />
		<script src="js/material.1.3.0.min.js" ></script>

		<!--fonts-->
		<link rel="stylesheet" href="css/material.icon.css">
		<link href="css/roboto.roboto.slab.font.css" rel="stylesheet">

		<!--mdl-selectfield-->
		<link rel="stylesheet" href="mdl-selectfield/mdl-selectfield.min.css">
		<script src="mdl-selectfield/mdl-selectfield.min.js"></script>

		<!--css-->
		<link rel="stylesheet" type="text/css" href="css/styles.css">

		<!--google analytics-->

		<script type="text/javascript" >
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

		  ga('create', 'UA-91333942-1', 'auto');
		  ga('send', 'pageview');

		</script>

		<!--smooth scrolling-->

		<script>
		$(document).ready(function(){
		  // Add smooth scrolling to all links
		  $("a").on('click', function(event) {

		    // Make sure this.hash has a value before overriding default behavior
		    if (this.hash !== "") {
		      // Prevent default anchor click behavior
		      event.preventDefault();

		      // Store hash
		      var hash = this.hash;

		      // Using jQuery's animate() method to add smooth page scroll
		      // The optional number (800) specifies the number of milliseconds it takes to scroll to the specified area
		      $('.mdl-layout__content').animate({
		        scrollTop: $(hash).get( 0 ).offsetTop
		      }, 800, function(){
		   
		        // Add hash (#) to URL when done scrolling (default click behavior)
		        window.location.hash = hash;
		      });
		    } // End if
		  });
		});
    </script>


	</head>

	<body>

	<!--navigation and layout-->

	<div class="mdl-layout__container">

		<div class="header-layout-transparent mdl-layout mdl-js-layout">
		  
			{% include _nav-desk.html %}
			{% include _nav-mob.html %}

		  <main class="mdl-layout__content">

		  	<div class="page-content section_header home_hero">
			  	<div class="mdl-grid content_max-width">
			  	  <div class="mdl-cell mdl-cell--12-col vert_middle">
	  	  		  {% include _hero-rotate.html %}
			  	  </div>
			  	</div>
		  	</div>

		  	<div id="consulting" class="page-content section_white">
					<div class="mdl-grid content_max-width">
			  	  <div class="mdl-cell mdl-cell--12-col center">
	  	  		  <h2 class=" center">Consulting</h2>
	  	  		  <p>For organizations looking to ship exceptional products.</p>
			  	  </div>
			  	</div>
			  	<div class="mdl-grid content_max-width">
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Product<br>Strategy</h3>
	  	  		  <p class="light_content_box">Bring clarity to the mission, vision, and strategy for your product, from customer-centric discovery to prototype experiementation to go-to-market planning.<br><br></p>
			  	  </div>
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Roadmap &<br>Prioritization</h3>
	  	  		  <p class="light_content_box">Define your near- and long-term roadmapping, requirements, and prioritization so you can focus your resources on building the right product as fast as you can.</p>
			  	  </div>
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Metrics &<br>Performance</h3>
	  	  		  <p class="light_content_box">Measure your performance by developing the right metrics that align your strategy to your execution and desired outcome.</p>
			  	  </div>
		  	  </div>

		  	  <div class="mdl-grid content_max-width">
		  	  	<div class="mdl-cell mdl-cell--12-col center">
		  	  		<a href="#contact" class="no-border">
		  	  			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button_custom">
		  	  		  	Contact Me
		  	  			</button>
	  	  			</a>
		  	  	</div>
		  	  </div>

		  	</div>

		  	
		  	<div class="page-content section_interstitial_1"></div>
		  	

		  	<div id="training" class="page-content section_white">
		  		<div class="mdl-grid content_max-width">
		  			<div class="mdl-cell mdl-cell--12-col center">
			  			<h2>Training & Workshops</h2>
	  	  		  <p>For teams looking to grow and optimize their capabilities.</p>
  	  		  </div>
	  		  </div>

	  		  <div class="mdl-grid content_max-width">
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Innovation<br>Capacity</h3>
	  	  		  <p class="light_content_box">Increase your team's capacity for innovation and creative problem solving by reframing your problem finding and solution development approach.</p>
			  	  </div>
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Product Development<br>& Operations</h3>
	  	  		  <p class="light_content_box">Optimize your delivery by examining your processes, understand your challenges, and removing the roadblocks that keep you from shipping.</p>
			  	  </div>
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Cross-functional<br>Team Culture</h3>
	  	  		  <p class="light_content_box">Enable your team to focus on what's important to your organization by achieving shared language, shared vision, shared values, and shared ownership.</p>
			  	  </div>
		  	  </div>

		  	  <div class="mdl-grid content_max-width">
		  	  	<div class="mdl-cell mdl-cell--12-col center">
		  	  		<a href="#contact" class="no-border">
		  	  			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button_custom">
		  	  		  	Contact Me
		  	  			</button>
	  	  			</a>
		  	  	</div>
		  	  </div>

		  	</div>
		  	
		  	<div class="page-content section_interstitial_2"></div>
		  	

		  	<div id="coaching" class="page-content section_white">
		  		<div class="mdl-grid content_max-width">
		  			<div class="mdl-cell mdl-cell--12-col center">
			  			<h2>Coaching</h2>
	  	  		  <p>For individual product managers looking to reach their full potential.</p>
  	  		  </div>
	  		  </div>

	  		  <div class="mdl-grid content_max-width">
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Executive<br>Coaching</h3>
	  	  		  <p class="light_content_box">Transform your mindset from execution-oriented to strategically-focused. Gain leadership perspective and receive advice based on best-practices and real-life experience.</p>
			  	  </div>
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Personalized<br>Growth Planning</h3>
	  	  		  <p class="light_content_box">Build your customize growth plan with actionable near- and long-term goals based on a comprehensive competency assessment.</p>
			  	  </div>
			  	  <div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet light_content_padding">
	  	  		  <h3>Job Search<br>& Interview</h3>
	  	  		  <p class="light_content_box">Increase your chances of scoring an interview or landing that dream product job with resume reviews, interview prep, and role-specific job search guidance.</p>
			  	  </div>
		  	  </div>

	  		  <div class="mdl-grid content_max-width">
		  	  	<div class="mdl-cell mdl-cell--12-col center">
		  	  		<a href="#contact" class="no-border">
		  	  			<button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect button_custom">
		  	  		  	Contact Me
		  	  			</button>
	  	  			</a>
		  	  	</div>
		  	  </div>

		  	</div>

		  	<div id="about" class="page-content section_dark_blue">
			  	<div class="mdl-grid content_max-width">
		  			<div class="mdl-cell mdl-cell--4-col mdl-cell--8-col-tablet center">
		  				<img class="img-circle" src="img/vince_color.png">
	  				</div>
  	  		  <div class="mdl-cell mdl-cell--8-col">
  	  		  	<h2>Vince Law</h2>
  	  		  	<h6>/ˈvins lô/</h6>
	  	  		  <h5>proper noun.</h5>
	  	  		  <ol>
	  	  		  	<li><a href="https://www.linkedin.com/in/vincelaw" target="_blank">Product Management professional with 10 years of experience</a><i class="material-icons md-18 md-light md-inactive">call_made</i></li>
	  	  		  	<li><a href="#consulting">Product advisor & consultant</a><i class="material-icons md-18 md-light md-inactive">arrow_upward</i></li>
	  	  		  	<li><a href="#training">Product manager coach & instructor</a><i class="material-icons md-18 md-light md-inactive">arrow_upward</i></li>
	  	  		  	<li><a href="https://medium.com/@vincelawco/latest" target="_blank">Writer & blogger</a><i class="material-icons md-18 md-light md-inactive">call_made</i></li>
	  	  		  	<li>Former tech consultant & mechanical engineer</li>
	  	  		  	<li>Bike & auto mechanic, endurance athlete, & podcast/audiobook junkie</li>
	  	  	  	</ol>
	  	  	  	<br>

  	  		  	<p>
  	  		  		<a class="img-link no-border" target="_blank" href="mailto:hello@vincelaw.co?Subject=Contact%20me"><img class="img-icon" src="img/email.png" /></a>
  	  		  		<a class="img-link no-border" target="_blank" href="https://www.linkedin.com/in/vincelaw" ><img class="img-icon" src="img/linkedin.png" /></a>
  	  		  		<a class="img-link no-border" target="_blank" href="https://twitter.com/vincelawco" ><img class="img-icon" src="img/twitter.png" /></a>
  	  		  		<a class="img-link no-border" target="_blank" href="https://medium.com/@vincelawco/latest" ><img class="img-icon" src="img/medium.png" /></a>
	  		  		</p>
	  		  	</div>
			  	</div>
		  	</div>

	  	<div id="contact" class="page-content section_white">
	  		{% include _contact_form.html %}
	  	</div>

	  	{% include _footer.html %}

	  	</main>

	  	<footer></footer>

		</div>
	</div>



	</body>

	<!--google analytics-->

	<script type="text/javascript">
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

	  ga('create', 'UA-91333942-1', 'auto');
	  ga('send', 'pageview');

	</script>

</html>