<div id="" class="page-content section_dark_blue">
	<div class="mdl-grid content_max-width">
	  <div class="mdl-cell mdl-cell--12-col center">
  		<div class="footer_container">
	  		<ul class="footer_list">
		  		<li class="footer_items"><a href="../#consulting" class="footer_links">Consulting</a></li>
		  		<li class="footer_items"><a href="../#coaching" class="footer_links">Coaching</a></li>
		  		<li class="footer_items"><a href="https://medium.com/@vincelawco/latest" target="_blank" class="footer_links">Blog</a></li>
		  		<li class="footer_items"><a href="../#about" class="footer_links">About</a></li>
	  		</ul>
  		</div>
		</div>
		<div class="mdl-cell mdl-cell--12-col center">
		  <p>© 2017 Vince Law LLC. All rights reserved.</p>
	  </div>
	</div>
</div>