<!--navigation-mobile-->
  <div class="mdl-layout__drawer mdl-layout--small-screen-only">
    <span class="mdl-layout-title">Vince Law</span>
    <nav class="mdl-navigation no-border">
      <a class="mdl-navigation__link" href="../#consulting">Consulting<i class="material-icons md-18 md-light md-inactive">arrow_downward</i></a>
      <a class="mdl-navigation__link" href="../#training">Training<i class="material-icons md-18 md-light md-inactive">arrow_downward</i></a>
      <a class="mdl-navigation__link" href="../#coaching">Coaching<i class="material-icons md-18 md-light md-inactive">arrow_downward</i></a>
      <a class="mdl-navigation__link" href="https://medium.com/@vincelawco/latest" target="_blank">Blog<i class="material-icons md-18 md-light md-inactive">call_made</i></a>
      <a class="mdl-navigation__link" href="../#about">About<i class="material-icons md-18 md-light md-inactive">arrow_downward</i></a>
      <a class="mdl-navigation__link" href="../#contact">Contact<i class="material-icons md-18 md-light md-inactive">arrow_downward</i></a>
    </nav>
  </div>