<div class="page-content section_quote section_quote_1">

	<div class="mdl-grid content_max-width quote_right">
  	<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet"></div>
  	<div class="mdl-cell mdl-cell--7-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
  		<div class="quote_right_box">
	  		<p class="quote_text center">Lorem ipsum quote text asdf asfd asdf asdf asdf asfd asdf asdf asdf asfd asdf asdf.<br></p>
  		</div>
		</div>
  	<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone quote_from">
			<p class="quote_from_bottom">
				<span class="quote_name">Jane Smith</span>
				<br>
				<span class="quote_title">CEO</span>
				<span class="quote_company">, Jackbox</span>
			</p>
  	</div>
  	<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet"></div>
	</div>

	<div class="mdl-grid content_max-width quote_left">
  	<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet"></div>
  	<div class="mdl-cell mdl-cell--3-col mdl-cell--2-col-tablet mdl-cell--1-col-phone quote_from right">
			<p class="quote_from_bottom quote_from_left">
				<span class="quote_name">Jane Smith</span>
				<br>
				<span class="quote_title">CEO</span>
				<span class="quote_company">, Jackbox</span>
			</p>
  	</div>
  	<div class="mdl-cell mdl-cell--7-col mdl-cell--6-col-tablet mdl-cell--3-col-phone">
  		<div class="quote_left_box">
	  		<p class="quote_text center">Lorem ipsum quote text asdf asfd asdf asdf asdf asfd asdf asdf asdf asfd asdf asdf.</p>
  		</div>
		</div>
  	<div class="mdl-cell mdl-cell--1-col mdl-cell--hide-tablet"></div>
	</div>