<ul>
	<li>Director of Product Management @ <a target="_blank" href="https://generalassemb.ly/">General Assembly</a></li>
	<li>Instructor, Product Management Course @ <a target="_blank" href="https://generalassemb.ly/">General Assembly</a></li>
	<li>Sr Product Manager @ <a target="_blank" href="http://www.storm8.com/">Storm8</a></li>
	<li>Product Manager @ <a target="_blank" href="https://www.kabam.com/">Kabam</a></li>
	<li>Former Technology Consultant & Mechanical Engineer</li>
	<li>Cyclist, runner, swimmer, leather craftsman, podcast/audiobook junkie</li>
</ul>